* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #f1f1f1;
    color: gray;
    min-height: 100vh;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: visible;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 999;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: end;
    gap: 1.5rem;
    position: relative;
    bottom: 1rem;
    left: -1rem;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.04rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
  color: rebeccapurple;
}

.name {
    font-family:"Monsieur La Doulaise";
    font-size: 2.2rem;
    font-weight: 700;

    position: relative;
    left: 1rem;
    width: 80%;
    max-width: 7rem;
    height: 7rem;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    line-height: 150;
}

.name::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -3px -3px -3px -3px;
    border-radius: 100px;
    background: linear-gradient(to right, #ab6dd1, #702ebd, #5d1ced, #3800bc);
    background-size: 200% 200%;
    animation: animationGradient 60s linear infinite;
    box-shadow: 0 0 15px #a00af6;
}

@keyframes animationGradient {
  to{
    background-position: 200%;
  }
}






