* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; /*The type of text we are using for this project. Can easily be changed*/
    background-color: #f1f1f1;
    color: gray;
    min-height: 100vh;
    line-height: 1.5;
}

/*CONTAINER CLASS*/
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: visible;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 999;
}

/*NAVIGATION (LINKS)*/
nav{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: end;
    gap: 1.5rem;
    position: relative;
    bottom: 1rem;
    left: -1rem;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.04rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
  color: rebeccapurple;
}

/*- CODE FOR NAME GLOW------------------------------------------------------------------*/
.name {
    font-family:"Monsieur La Doulaise";
    font-size: 2.2rem;
    font-weight: 700;

    position: relative;
    left: 1rem;
    width: 80%;
    max-width: 7rem;
    height: 7rem;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    line-height: 150;
}

.name::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -3px -3px -3px -3px;
    border-radius: 100px;
    background: linear-gradient(to right, #ab6dd1, #702ebd, #5d1ced, #3800bc);
    background-size: 200% 200%;
    animation: animationGradient 60s linear infinite;
    box-shadow: 0 0 15px #a00af6;
}
/* For Animation */
@keyframes animationGradient {
  to{
    background-position: 200%;
  }
}


/*ADDING A TOGGLE MENU - ALL RESPECTIVE CODE*/
/*.menu-toggle {*/
/*  display: none;*/
/*  flex-direction: column;*/
/*  gap: 5px;*/
/*  cursor: pointer;*/
/*  width: 25px;*/
/*  height: 20px;*/
/*  justify-content: center;*/
/*  z-index: 1001;*/
/*}*/
/*.menu-toggle span {*/
/*  height: 3px;*/
/*  background: gray;*/
/*  border-radius: 2px;*/
/*}*/
/*.nav-links {*/
/*  display: flex;*/
/*  gap: 1.5rem;*/
/*}*/
/*@media (max-width: 768px) {*/
/*  .menu-toggle {*/
/*    display: flex;*/
/*  }*/
/*  .nav-links {*/
/*    display: none;*/
/*    flex-direction: column;*/
/*    position: absolute;*/
/*    top: 60px;*/
/*    right: 20px;*/
/*    background-color: #000;*/
/*    padding: 1rem;*/
/*    border: 1px solid #444;*/
/*  }*/
/*  .nav-links.show {*/
/*    display: flex;*/
/*  }*/
/*}*/









