* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; 
    color: #808080FF;
    height: 115rem;
    max-height: 150rem;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    z-index: 300;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 400;
}


nav{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: end;
    gap: 1.5rem;
    position: relative;
    bottom: 1rem;
    left: -1rem;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.04rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
  color: #e41364;
}

.name {
    font-family:"Monsieur La Doulaise";
    font-size: 2.2rem;
    font-weight: 700;

    position: relative;
    left: 1rem;
    width: 80%;
    max-width: 7rem;
    height: 7rem;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    line-height: 150;
}

.name::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -3px -3px -3px -3px;
    border-radius: 100px;
    background: linear-gradient(to right, #ca7cb0, #dd5692, #ec0687, #9a063b);
    background-size: 200% 200%;
    animation: animationGradient 60s linear infinite;
    box-shadow: 0 0 15px #c30fa1;
}
@keyframes animationGradient {
  to{
    background-position: 200%;
  }
}


.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, auto);
    gap: 3rem;                        
    max-width: 81%;
    margin: 2rem auto;
    padding: 2rem;
}

.card {
    position: relative;
    top: 5rem;
    width: 100%;
    height: 28rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px #b8b7b7;
    display: grid;
    place-items: flex-end;
    background-size: 105% 59%;
    background-position: center top;

    /*background-position: -5px -5px;*/
    background-repeat: no-repeat;
}

.card h3{
    position: absolute;
    color: #673442;
    font-size: 1.7rem;
    font-family: "Rasa", serif; 
    top: 17rem;
    left: 0.5rem;
}

.card p{
    position: absolute;
    top: 19.5rem;
    left: 0.5rem;
    font-family: "Rasa", serif;
    font-size: 1.1rem;
    color: #3e1f28;
}


.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px #d504a4;
    cursor: pointer;
}

.card-1 {
    background-image: url('../img/education.png');
}

.card-2 {
    background-image: url('../img/skills.png');
}
.card-3 {
    background-image: url('../img/experience.png');

    background-repeat: no-repeat;
}
.card-4 {
    background-image: url('../img/projects.png');
}
.card-5 {
    background-image: url('../img/leadership.png');
}
.card-6 {
    background-image: url('../img/awards.png');
}
.card-7 {
    background-image: url('../img/volunteering.png');
}
.card-8 {
    background-image: url('../img/courses.png');
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal{
    font-family: "Suranna", serif;
    position: fixed;
    text-align: left;
    top: 50%;
    left: 50%;
    color: #fff5fb;
    transform: translate(-50%, -50%) scale(0);
    transition:200ms ease-in-out;
    border: 2px solid #ed3f8d;
    border-radius: 10px;
    background-color: #832564;
    width: fit-content;
    min-width: 35%;
    max-width: 60%;
    max-height: 80%;
    overflow: scroll;
    z-index: 700;
}

.modal .header{
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal p{
    display: flex;
    margin: 0;
    padding: 0 0 0 0.5rem;
    width: 98%;
    white-space: pre;
    line-height: 1.6;
}
.modal h2{
    white-space: pre;
}



.modal .cls-button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    border: none;
    color: #ede8ea;
    background: none;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition:200ms ease-in-out;
    z-index: 600;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.modal .cls-button:hover{
    border-radius: 50%;
    background: #a81363;
}

#modal-volunteering p,
#modal-proj p,
#modal-exp p,
#modal-skill p,
#modal-awards p,
#modal-activities p,
#modal-coursework p{
    display: list-item;
    list-style: disc;
    margin-left: 1.5rem;
    /*font-weight: bold;*/
}

#modal-volunteering p.no-bullet,
#modal-activities p.no-bullet,
#modal-exp p.no-bullet{
    font-size: 1rem;
    display: block;
    list-style: none;
    margin: 0;
}

#modal-proj a,
#modal-volunteering a,
#modal-exp a,
#modal-awards a,
#modal-edu a{
    text-decoration: none;
    color: #fff5fb;
}


#modal-edu a span{
    position: absolute;
    top: 0.4rem;
    left: 9.5rem;
}

#modal-proj a:hover,
#modal-volunteering a:hover,
#modal-exp a:hover,
#modal-awards a:hover,
#modal-edu a:hover{
    color: #fd8bd7;
}

#modal-proj a span{
    position: relative;
    top: 1.2px;
}

.proj-icon{
    position: relative;
    top: 3px;
    width: 1.3rem;
}

.proj-icon01{
    width: 7rem;
}

.video-edit{
    position: relative;
    left: 1.5rem;
    width: 41rem;
    height: auto;
    border-radius: 10px;
}

.text-container h2{
    font-size: 1.15rem;
    margin: 0.8rem 0 0 0.5rem;
}
.text-container span{
    font-size: 1rem;
    text-decoration: none;
}

.inline-img {
  height: 18px;
  width: auto;
  vertical-align: middle;
  margin-left: 5px;
}


@media (max-width: 1123px) {
    .card-6 h3{
        font-size: 22.5px;
    }

    .card p {
    font-size: 15px;
    line-height: 1.4;
    }
}
