* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #f1f1f1;
    color: gray;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow-y: clip;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 900;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: end;
    gap: 1.5rem;
    position: relative;
    bottom: 1rem;
    left: -1rem;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.04rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
  color: #0e74aa;
}

.name {
    font-family:"Monsieur La Doulaise";
    font-size: 2.2rem;
    font-weight: 700;

    position: relative;
    left: 1rem;
    width: 80%;
    max-width: 7rem;
    height: 7rem;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    line-height: 150;
}
.name::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -3px -3px -3px -3px;
    border-radius: 100px;
    background: linear-gradient(to right, #4ea8c1, #0590f4, #005bdc, #07b2ff);
    background-size: 200% 200%;
    animation: animationGradient 60s linear infinite;
    box-shadow: 0 0 15px #38ddf3;
}
@keyframes animationGradient {
  to{
    background-position: 200%;
  }
}

/*----------------------------------------------------------*/
.main-content{
    display: grid;
    grid-template-areas: "intro greeting icons contact";
    grid-template-columns: 1fr 495px 6.5rem 1fr;
    overflow-x: clip;
    overflow-clip-margin: 50rem;
    gap: 10px;
    width: auto;
}

.intro{
    /*width: 20rem;*/
    grid-area: intro;
    max-width: 100%;
    text-align: left;
    margin-top: 2.5rem;
}
.greeting {
    display: grid;
    grid-template-areas: "say hello";
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
}
.icons {
    display: grid;
    grid-template-rows: 7rem 7rem 7rem 7rem;
    align-items: center;
    align-content: start;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
}
.icons img{
    width: 5rem;
}

.icons img:hover{
    transform: translate(3px, -8px);
    filter: drop-shadow(1px 1px 45px #38ddf3);
    cursor: pointer;}

.say{
    grid-area: say;
}
.hello{
    grid-area: hello;
    position: relative;
    top: 15px;
    right: 32px;
}
.icons{
    grid-area: icons;
}
.github-icon img{
    width: 7.5rem;
}

.contact-section{
    grid-area: contact;
}
.contact-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 30rem;
    max-width: 100%;
    margin-left: auto;
    margin-top: 2rem;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    gap: 7px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.contact-form button {
  background-color: #0961b1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #033976;
}

/* Shared styles for both words */
.greeting h2{
    position: relative;
    writing-mode: vertical-lr;
    color: #4ed0f5;
    letter-spacing: 8px;
    line-height: 1.2;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.greeting .say {
    font-size: 280px;
    transform: rotate(180deg);
    transform-origin: center;
}

.greeting .hello {
    font-size: 245px;
}

.greeting h2::before
{
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 0,
            transparent 2px,
            #000000 2px,
            #000000 4px
    );
    -webkit-background-clip: text;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s;
    content: attr(data-text-before); 
}

.greeting h2::after{
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
            135deg,
            transparent 0,
            transparent 2px,
            #0961b1 2px,
            #0961b1 4px
    );
    -webkit-background-clip: text;
    top: 0;
    left: 0;
    transition: 1s;
    content: attr(data-text-after);  
}

.greeting .say::before,
.greeting .say::after{
    content: "Say";
}

.greeting .hello::before,
.greeting .hello::after{
    content: "Hello!";
}

.greeting h2:hover::before{
    top: 10px;
    left: 10px;
}

.greeting h2:hover::after {
    top: -10px;
    left: -10px;
}

@media (max-width: 1200px) {
    .main-content {
        grid-template-areas:
        "intro intro"
        "greeting icons"
        "contact contact";
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 95%;
    }

    .intro{
        font-size: clamp(13px, 1vw, 18px);
    }
    .icons{
        position:relative;
        top: 5rem;
        right: 5rem;
    }

    .contact-form {
        width: 100% !important;
        min-width: 375px;
        max-width: 500px !important;
        padding: 15px !important;
        margin-left: 20%;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9rem !important;
    }
    .greeting {
        position: relative;
        left: 3rem;
    }
    .hello{
        position: relative;
        left: 1px;
    }
}


